@page
@model AboutModel
@{
    ViewData["Title"] = "About Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to My About Page</h1>
    <p> My name is Avneet Kaur. I have created a scientific calculator and added some functionalities to it.
        
        
        
        Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
